
@import "bulma/sass/utilities/functions";

// Color variable for the game grid
$game-cell-color:#3E92CC;
$game-cell-right-color:#D72638;
$game-cell-almost-color:#FFB400;

// --- Bulma override ---
$body-background-color:#2F2F2F;
$footer-background-color:#212121;

$text:#FBFBFF;
$text-strong:$text;

// Custom colors
$crimson: $game-cell-right-color;
$crimson-invert: findColorInvert($crimson);
$custom-colors: ("crimson": ($crimson, $crimson-invert));

//$footer-color:#FBFBFF;
$navbar-background-color:#212121;
//$navbar-item-color:#FBFBFF;

@import "bulma/bulma.sass";

.button.is-text:hover {
    color: $body-background-color;
}


.box {
    text-align:left;
    max-width: 30vw;
    margin: 0 auto;
    margin-top:3rem;

    label, input {
        color:#212121;
    }

    .button {
        width:100%;
    }
}

footer.footer {
    text-align: center;
    padding:3rem 1.5rem 4rem;
}

body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    flex:1;
}