{% extends "sousmotapp/base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero has-text-centered">
        <div class="hero-body">
            <h1 class="title">SousMot</h1>
            <p class="subtitle">A Multiplayer Customizable Wordle game - {{ mode }} !</p>
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <table class="table is-bordered">
                        {% for i in rows %}
                            <tr>
                                {% for j in word_length %}
                                    <td>
                                        <div>
                                            {{ forloop.counter }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
    <style scoped lang="scss">
        .table td {
            padding: 0.5rem;
            color: black;
            font-size: 2rem;
        }
        .table td div {
            width: 50px;
            height: 50px;
            overflow: hidden;
        }
    </style>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}