{% extends "sousmotapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero has-text-centered">
        <div class="hero-body">
            <h1 class="title">SousMot</h1>
            <p class="subtitle">A Multiplayer Customizable Wordle game !</p>
            <!-- CREATE GAME FORM -->
            <div class="box">
                <!-- Name -->
                <div class="field">
                    <label for="" class="label">Name</label>
                    <div class="control">
                        <input type="text" class="input">
                    </div>
                </div>

                <!-- Mode -->
                <div class="field">
                    <label for="" class="label">Mode</label>
                    <div class="control">

                    </div>
                </div>

                <!-- Word Length -->
                <div class="field">
                    <label for="" class="label">Word Length</label>
                    <div class="control">

                    </div>
                </div>

                <!-- Dictionary dropdown -->
                <div class="field">
                    <label class="label">Dictionary</label>
                    <div class="control">
                        <div class="dropdown">

                        </div>
                    </div>
                </div>

                <button class="button is-primary">Create Room</button>
            </div>
        </div>
    </section>
{% endblock %}