{% extends "sousmotapp/base.html" %}

{% load static %}
{% block title %}Lobby - {{ slug }}{% endblock %}

{% block content %}
    <section class="hero has-text-centered">
        <div class="hero-body">
            <h1 class="title"><input type="text" class="input" value="{{ request.build_absolute_uri }}"
                                     style="max-width:{{ request.build_absolute_uri|length }}ch;" readonly></h1>
            <p class="subtitle">Copy the url and give it to your friend !</p>

            <div class="columns">
                {% if is_host %}
                    <div class="column">

                        <!-- Game parameters -->

                        <form class="box" method="POST" action="{% url 'game' slug=slug %}">
                            {% csrf_token %}

                            <!-- Mode -->
                            <div class="field gamemode">
                                <label for="gamemode" class="label">Mode</label>
                                <div class="control">
                                    <div class="buttons has-addons has-addons-fullwidth">
                                        <div class="button is-fullwidth is-large  is-crimson is-selected"
                                             data-gamemode="time-attack">
                                <span class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                            <span>Time attack</span>
                                        </div>
                                        <div class="button is-large is-fullwidth" data-gamemode="rounds">
                                <span class="icon">
                                    <i class="fa fa-users"></i>
                                </span>
                                            <span>Rounds</span>
                                        </div>
                                    </div>
                                    <input name="game_mode" type="hidden" id="gamemode-input" value="time-attack">
                                </div>


                                <!-- Time -->
                                <div class="game-duration-field field">
                                    <label for="game_duration" class="label">Game Duration</label>
                                    <div class="control">
                                        <input class="input" name="game_duration" id="game_duration" type="text"
                                               required pattern="[0-9]{2}:[0-9]{2}" value="10:00" placeholder="mm:ss"
                                               title="Write a duration in the format mm:ss">
                                    </div>
                                </div>

                                <div class="number-word-field field-is-invisible field">
                                    <label for="game_number_of_rounds" class="label">Number of rounds (Word)</label>
                                    <div class="control">
                                        <input type="number" name="game_number_of_rounds" id="game_number_of_rounds"
                                               class="input" min="1" max="50" value="5">
                                    </div>
                                </div>

                            </div>

                            <hr>
                            <!-- Word Length -->
                            <div class="field">
                                <label for="word-length" class="label">Word Length</label>
                                <div class="control">
                                    <input name="word_length" id="word-length"
                                           class="has-output slider is-crimson is-fullwidth" step="1" min="6" max="10"
                                           value="7"
                                           type="range"
                                           oninput="document.getElementById('word-length-value').textContent = value">
                                    <output for="sliderWithValue" id="word-length-value" class="has-background-dark">x
                                    </output>
                                </div>
                            </div>

                            <hr>
                            <!-- Dictionary dropdown -->
                            <div class="field">
                                <label for="dictionary-choice" class="label">Dictionary</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="dictionary" id="dictionary-choice">
                                            {% for dictionary in dictionaries %}
                                                <option value="{{ dictionary.pk }}">{{ dictionary.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="field">
                                <input type="submit" class="button is-crimson is-fullwidth" value="Start the Game">
                            </div>

                        </form>
                    </div>
                    <!-- End Game parameters -->
                {% endif %}

                <!-- List of connected user -->
                <div class="column">
                    <div class="box">
                        <h2 class="title has-text-centered">Contestants</h2>
                        <article class="media">
                            <figure class="media-left">
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <div id="user-here" value="{{ username }}"><strong> {{ username }}</strong></div>
                                        {% if is_guest %}<span class="tag is-link">Guest</span>{% endif %}
                                        {% if is_host %}<span class="tag is-warning">Host</span>{% endif %}
                                    </p>
                                </div>
                            </div>
                        </article>
                        
                        <div id="contestant-list">

                        </div>

                        <hr>
                        <p class="has-text-centered loading-label">
                            <span class="is-vcentered">Loading...</span>
                            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                        </p>

                    </div>
                </div>
                <!-- End connected users -->
            </div>
        </div>
    </section>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/lobby.js" %}"></script>
{% endblock %}